    <div class="side_top">
      <div class="user_name">
        <a href=#>MASAKI</a>
      </div>
      <div class="new_room">
        <a href=#>チャットを作成する</a>
      </div>
    </div>
    
    <div class="side_main">
      <div class="room">
        <div class="room-name">
          <a href=#>チャットルーム</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href=#>チャットルーム２</a>
        </div>
      </div>
    </div>